body{
    background-size: cover;
}
.heading{
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
}
button{
    height: 6%;
    width: 8%;
    font-family: 'Roboto Mono', monospace;
}
#body{
    margin-top:10%;
}
canvas{
    border: 2px solid orange;
    border-radius: 10px;
    margin-top:500px;
    box-shadow: 5px 5px 5px grey;

}